body {
  text-align: center;
  color: rgb(47, 79, 79);
  margin: 0;
  /* The image used */
  background: url(background.jpg);
  /* Full height*/
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  /* NOTE that changing height to min-height solved white space problem!!  */
  min-height: 100vh;
  margin: 0;
}
h1 {
  font: 50px Arial, sans-serif;
  background: rgba(245, 255, 250, 0.3);
  font-weight: bold;
  color: black;
}
p {
  font: 20px Arial;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  font-size: 20px;
}
.padded {
  padding: 10px 20px;
}
.greybg {
  background: rgba(245, 255, 250, 0.3);
  padding: 20px;
}
a:link, a:visited {
  background-color: rgba(245, 255, 250, 0.3);
  color: black;
  border: 2px grey;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: grey;
  color: white;
}
